@import url('./quote-tokens.css');

.quote blockquote { /* @boilerplate */
  margin: 0 auto; /* @boilerplate */
  padding: var(--quote-padding); /* @boilerplate */
  max-width: var(--quote-max-width); /* @boilerplate */

  p {
  color: var(--brand-blue);
  font-size: 16px;
  line-height: 1.2;
  }

  .quote-attribution {
    margin-left: 36px;
  }
}

@media (width >= 768px) {
  .quote blockquote { /* @boilerplate */
    margin: 0 auto; /* @boilerplate */
    padding: var(--quote-padding); /* @boilerplate */
    max-width: var(--quote-max-width); /* @boilerplate */
  
    p {
    color: var(--brand-blue);
    font-size: 18px;
    line-height: 1.2;
    }

    .quote-quotation {
      font-family: var(--heading-font-family);
    }
  
    .quote-attribution {
      margin-left: 36px;
    }
  }
}

@media (width >= 900px) { /* @boilerplate */
  .quote blockquote { /* @boilerplate */
    padding: var(--quote-padding-desktop); /* @boilerplate */
    font-size: 18px; 
  }
}

.quote blockquote .quote-quotation p:first-child::before,
.quote blockquote .quote-quotation p:last-child::after { /* @boilerplate */
  line-height: 0; /* @boilerplate */
}

.quote blockquote .quote-quotation p:first-child::before { /* @boilerplate */
  content: '“'; /* @boilerplate */
}

.quote blockquote .quote-quotation p:last-child::after { /* @boilerplate */
  content: '”'; /* @boilerplate */
}

.quote blockquote .quote-attribution p:first-child::before { /* @boilerplate */
  content: '—'; /* @boilerplate */
  padding-right: 0.5ch; /* @boilerplate */
}