@import url('./randomizer-tokens.css');

.randomizer {
  overflow: auto;
}

/* suppress nested section padding */
.randomizer > .section {
  padding-left: 0;
  padding-right: 0;
}

.randomizer > .section:first-of-type {
  padding-top: 0;
}

.randomizer > .section:last-of-type {
  padding-bottom: 0;
}