/* search design tokens */
:root { /* @boilerplate */
  --search-input-border-radius: var(--border-radius-s); /* @boilerplate */
  --search-results-min-width: 278px; /* @boilerplate */
  --search-results-gap: var(--spacing-m); /* @boilerplate */
  --search-result-border-color: var(--border-color); /* @boilerplate */
  --search-result-content-padding: var(--spacing-s); /* @boilerplate */
  --search-result-title-color: var(--brand-cyan);  
  --search-transition-duration: var(--transition-duration); /* @boilerplate */
  --search-results-border-color: #ccc;
  --search-results-heading-text-size:24px;
}
