@font-face {
  font-family: gotham;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/Gotham-Black.woff') format('woff');
}

@font-face {
  font-family: gotham;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Gotham-Bold.woff') format('woff');
}

@font-face {
  font-family: gotham;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Gotham-Medium.woff') format('woff');
}

@font-face {
  font-family: gotham;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Gotham-Book.woff') format('woff');
}

@font-face {
  font-family: gotham;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Gotham-Light.woff') format('woff');
}
