/* stylelint-disable max-line-length */

/*
 * Source site (northera-stage.d.lundbeckus.com) uses the Gotham family
 * (Gotham-Book / -Medium / -Bold / -Black) served via cloud.typography.com
 * (Hoefler&Co). That font is licensed and cannot be self-hosted here, so
 * these declarations provide size-adjusted Arial fallbacks that closely match
 * Gotham's metrics to minimise layout shift. To use the real webfont, add the
 * licensed cloud.typography <link> (or licensed woff2 files) for this domain.
 */

@font-face {
  font-family: gotham-book;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Gotham-Book.woff') format('woff');
}

@font-face {
  font-family: gotham-medium;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Gotham-Medium.woff') format('woff');
}

@font-face {
  font-family: gotham-bold;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Gotham-Bold.woff') format('woff');
}

@font-face {
  font-family: gotham-black;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Gotham-Black.woff') format('woff');
}

/* Accordion transcript toggle (source: Glyphicons Halflings \e072 / \e252) */
@font-face {
  font-family: glyphicons-halflings;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/glyphicons-halflings-regular.woff') format('woff');
}